contracts_folder: tests/contracts

plugins:
  - name: foundry
  - name: solidity
  - name: etherscan
  - name: alchemy

ethereum:
  mainnet:
    default_provider: alchemy
  local:
    default_provider: foundry

dependencies:
  - name: safe-contracts
    github: safe-global/safe-smart-account
    version: v1.3.0
    config_override:
      compile:
        exclude:
          - test
          - examples
          - interfaces/ViewStorageAccessible.sol

      dependencies:
        - name: openzeppelin
          github: OpenZeppelin/openzeppelin-contracts
          version: 3.4.0

      solidity:
        version: 0.7.6
        import_remapping:
          - "@openzeppelin/contracts=openzeppelin/v3.4.0"

foundry:
  fork:
    ethereum:
      mainnet:
        upstream_provider: alchemy
        block_number: 15776634
      sepolia:
        upstream_provider: alchemy
        block_number: 3091950
